<% layout("/layouts/boilerplate") %> 


<body>
    <!-- Fixed Tax Toggle - Top Right -->
<div class="tax-toggle-fixed">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="taxToggleFixed" >
        <label class="form-check-label" for="taxToggleFixed">
            <span class="toggle-text">Display total after taxes</span>
        </label>
    </div>
</div>
    <!-- Carousel Section -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="filter">
                    <div><i class="fa-solid fa-fire-flame-curved"></i></div>
                    <p>Trending</p>      
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-bed"></i></div>
                    <p>Rooms</p>      
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-mountain-city"></i></div>
                    <p>Mountains</p>   
                </div>
                <div class="filter">
                    <div><i class="fa-brands fa-fort-awesome"></i></div>
                    <p>Castles</p>      
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="filter">
                    <div><i class="fa-solid fa-person-swimming"></i></div>
                    <p>Amazing Pools</p>      
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-tent"></i></div>
                    <p>Camping</p>     
                </div>
                <div class="filter">
                    <div><i class="fa-regular fa-snowflake"></i></div>
                    <p>Arctic</p>      
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-house"></i></div>
                    <p>Homes</p>      
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="filter">
                    <div><i class="fa-solid fa-cow"></i></div>
                    <p>Farms</p>      
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-tree"></i></div>
                    <p>Nature</p>      
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-water"></i></div>
                    <p>Lakefront</p>      
                </div>
                <div class="filter">
                    <div><i class="fa-solid fa-umbrella-beach"></i></div>
                    <p>Beach</p>     
                </div>
            </div>
        </div>

        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 row-cols-1 g-4 mt-1">
      <% for(let listing of allListings) { %>
        <a href="/listings/<%=listing._id%>" class="listing-link">
        <div class="card col" style="width: 20rem;">
            <img src="<%= listing.image.url || 'https://th.bing.com/th/id/OIP.jHvTOSF7924Ah63W7mozxQHaEo?rs=1&pid=ImgDetMain' %>"
             class="card-img-top"
             alt="listing_image"
             style="height: 20rem;">
             <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b><%= listing.title %></b> <br /> 
                &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "Price not available" %> / night 
                <i class="tax-info">&nbsp; &nbsp;<%= listing.price %></i>
                %>
            </p>
            </div>
        </div>
    </a>
      <% } %>
    </div>

    <script>
      let taxSwitch = document.getElementById("taxToggleFixed");
      taxSwitch.addEventListener("click", () => {
        console.log("checjed");
        let taxinfo = document.getElementsByClassName("tax-info");
        for (let info of taxinfo) {
            if (taxSwitch.checked) {
                info.style.display = "inline";   // show when switch is ON
            } else {
                info.style.display = "none";     // hide when switch is OFF
            }
        }      
    });
    </script>
</body>